<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- APPENDER CONSOLE UNIQUE -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- APPENDER FICHIER -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>app.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] - %msg%n</pattern>
    </encoder>
  </appender>





  <!-- LOGGER LOAD_DATA_FROM_CSV -->
<!--  <logger name="fr.diginamic.AppLoadDataFromCSVIntoBDD" level="DEBUG" additivity="true">-->
<!--    <appender-ref ref="STDOUT"/>-->
<!--  </logger>-->

  <!-- LOGGER APP CLIENT -->
  <logger name="fr.diginamic.AppClient" level="DEBUG" additivity="false">
    <appender-ref ref="FILE"/>
  </logger>

  <!-- ROOT LOGGER -->
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
